@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.react-datepicker-wrapper {
    width: 100%;
}
.rsw-editor {
    height: 350px;
}
div#root {
    max-width: 2000px;
    margin: auto;

}
/* this is my demo comment */

[role='tooltip'].popup-content {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    left: 20% !important;
    background-color: transparent  !important;
    border: none  !important;
}

  
  [data-popup='tooltip'].popup-overlay {
    background: #000000c7;
}
div#popup-2 {
    width: 65% !important;
    left: 20% !important;
    overflow: scroll;
    height: 100%;
    top: 0 !important;
}
@media(max-width:767px){
    div#popup-2 {
        margin: 0 auto;
        width: 90%;
        left: 0 !important;
        top: 0 !important;
        right: 0;
    }
}
.disabled {
    opacity: 0.5;
    pointer-events: none; /* Prevents any interaction */
}
